<div class="row">
    <ng-include src="'breadcrumb'"></ng-include>
</div>
<div class="row">
    <div class="col-md-3">
        <ng-include src="'side-bar-first'"></ng-include>
    </div>
    <div class="col-md-9">
        <ng-include src="'messages'"></ng-include>
        <div>
            <h1>Node Life Cycle</h1>

            <h2>Nodes published on /node</h2>
            <ul ng-repeat="_node in nodes">
                <li><a ng-click="fetchNode(node.nid[0].value = _node.nid[0].value);">{{ _node.nid[0].value}} {{_node.title[0].value }}</a></li>
            </ul>

            <h2>Fetch node</h2>

            <form class="form-inline">
                <div class="form-group">
                    <label>Node ID</label>
                    <input type="text" class="form-control" ng-model="node.nid[0].value">
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success" value="Fetch node"
                           ng-click="fetchNode($scope.node.nid[0].value);">
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-danger" value="Delete node"
                           ng-click="deleteNode($scope.node.nid[0].value);">
                </div>
            </form>
            <hr/>
            <form>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="node.title[0].value">
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea type="text" class="form-control" ng-model="node.body[0].value"></textarea>
                </div>
                <div class="form-group">
                    <label>Full json of Node</label>
                    <textarea json-text rows="10" class="form-control" ng-model="node"></textarea>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-success" value="Update node" ng-click="updateNode();">
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-info" value="Clone node" ng-click="postNode();">
                </div>
            </form>
        </div>
    </div>
</div>
