<div class="row">
    <ng-include src="'breadcrumb'"></ng-include>
</div>
<div class="row">
    <div class="col-md-3">
        <ng-include src="'side-bar-first'"></ng-include>
    </div>
    <div class="col-md-9">
        <ng-include src="'dog-ear'"></ng-include>
        <ng-include src="'messages'"></ng-include>
        <article ng-repeat="node in nodes">
            <p ng-if="node._error">ERROR: {{ node._error }}</p>
            <h2>
                <a href="#/node/{{ node.nid[0].value }}">
                    {{ node.title[0].value }}
                </a>
            </h2>

            <div class="meta">
                Submitted by {{ node.user.name[0].value }} on {{ node.created[0].value * 1000 | date:'medium' }}
            </div>
            <p>
                {{ node.body[0].summary }}
            </p>

            <p ng-if="node._internals.field_tags">
                Tags:<br/>
                <ul>
                <li ng-repeat="tag in node._internals.field_tags | filter:filterByTag">
                    <a href="#/taxonomy/term/{{ tag.target_id }}">
                        {{ tags[tag.target_id].name }}
                    </a>
                </li>
            </ul>
            </p>
        </article>
    </div>
</div>
