<div class="row">
    <ng-include src="'breadcrumb'"></ng-include>
</div>
<div class="row">
    <div class="col-md-3">
        <ng-include src="'side-bar-first'"></ng-include>
    </div>
    <div class="col-md-9">
        <ng-include src="'messages'"></ng-include>
        <article>
            <h1>{{ node.title[0].value }}</h1>

            <div class="meta">
                Submitted by {{ node.user.name[0].value }} on {{ node.created[0].value * 1000 | date:'medium' }}
            </div>
            <p class="body">
                {{ node.body[0].value }}
            </p>

            <div class="tags" ng-if="node._internals.field_tags">
                <p>Tags:</p>
                <ul>
                    <li ng-repeat="tag in node._internals.field_tags | filter:filterByTag">
                        <a href="#/taxonomy/term/{{ tag.target_id }}">
                            {{ tags[tag.target_id].name }}
                        </a>
                    </li>
                </ul>
            </div>
            <input type="button" class="btn btn-info" value="Delete node" ng-click="deleteNode();">
        </article>

        <h2>Comments</h2>

        <div class="comment" ng-repeat="comment in comments">
            <h3>{{ comment.subject[0].value }}</h3>

            <div class="meta">
                By {{ comment.name[0].value }} on {{ comment.created[0].value * 1000 | date:'medium' }}

            </div>
            <p>{{ comment.comment_body[0].value }}</p>
        </div>

        {{ response }}

        {{ error }}

        <form ng-submit="postComment()">
            <div class="form-group">
                <label>Subject</label>
                <input type="text" class="form-control" ng-model="newComment.subject[0].value">
            </div>
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" ng-model="newComment.comment_body[0].value"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Post comment">
            </div>
        </form>

    </div>
</div>
