<div class="row">
    <ng-include src="'breadcrumb'"></ng-include>
</div>
<div class="row">
    <div class="col-md-3">
        <ng-include src="'side-bar-first'"></ng-include>
    </div>
    <div class="col-md-9">
        <ng-include src="'messages'"></ng-include>
        <article>
            <h1>New article {{ node.title[0].value }}</h1>
            <form ng-submit="postNode()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="node.title[0].value">
                </div>
                <div class="form-group">
                    <label>Summary</label>
                    <textarea class="form-control" ng-model="node.body[0].summary"></textarea>
                </div>
                <div class="form-group">
                    <label>Body</label>
                    <textarea class="form-control" ng-model="node.body[0].value"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Post article">
                </div>
            </form>
        </article>
    </div>
</div>
